@import url('http://fonts.googleapis.com/css?family=Merienda:400,700');
/* ========================================================================== */
/* Global properties (body, common classes, vertical rhythm, structure etc)
/* ========================================================================== */
body {
  position: relative;
  background-color: #e8e8e8;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 0 !important;
}
h2,
h3,
h4,
h5 ,
h6 {
  color: #555555;
  text-align: center;
}
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  margin-left: 12px;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  line-height: 5px;
  letter-spacing: 0;
}
a,
a:hover {
  text-decoration: none;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #eeeeee;
  border-bottom: 1px dashed #999999;
}
.navbar-inverse .navbar-inner {
  background-color: #222222;
  background-repeat: repeat-x;
  border-color: transparent;
  background-image: none;
  padding-top: 10px !important;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
}
.navbar-inverse .brand {
  color: #fff;
}
.navbar-inverse .brand {
  text-align: justify;
}
.navbar-inverse .brand span.bg {
  display: block;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-link {
  color: #999999;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-fixed-top {
  position: fixed !important;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.nav-collapse.pull-right {
  text-align: right;
}
/* ========================================================================== */
/* Header / Logo
/* ========================================================================== */
.header-wrap {
  width: 100%;
  background: url('../example/image1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  margin-top: -60px;
  padding-top: 160px;
  text-align: center;
}
@media (max-width: 979px) {
  .header-wrap {
    margin-top: -30px;
    padding-top: 160px;
  }
}
.header-wrap h1 {
  font-weight: 400;
  font-size: 70px;
  color: #fff;
  margin-bottom: 25px;
}
.header-wrap .img-circle {
  position: absolute;
  top: 200px;
  left: 10%;
  padding: 30px;
  width: 350px;
  height: 350px;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url('../img/o50.png');
  background-repeat: repeat;
}
@media (max-width: 640px) {
  .header-wrap .img-circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.header-wrap .img-circle h1,
.header-wrap .img-circle h3,
.header-wrap .img-circle h4 {
  color: #ffffff;
}
.header-wrap .img-circle h1 {
  font-size: 30px;
}
@media (max-width: 640px) {
  .header-wrap .img-circle h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.header-wrap .img-circle h3 {
  background: url('../img/decor-4.png') no-repeat center center;
  color: #555555;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 20px;
  width: 400px;
  margin-left: -25px;
}
@media (max-width: 640px) {
  .header-wrap .img-circle h3 {
    background: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
    width: auto;
  }
}
.header-wrap .img-circle h4 {
  font-size: 18px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .header-wrap .img-circle h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.header-wrap .img-circle .decore-top {
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .header-wrap .img-circle .decore-top {
    margin-bottom: 0;
  }
}
/* ========================================================================== */
/* Welcome Line
/* ========================================================================== */
.welcome-wrap {
  padding-bottom: 15px;
  padding-top: 15px;
  background: #ffffff;
  color: #333333;
}
.welcome-wrap .container {
  padding: 0px;
}
@media (max-width: 767px) {
  .welcome-wrap > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.welcome-wrap h2 {
  text-align: center;
  font-size: 30px;
  line-height: 34px;
}
/* ========================================================================== */
/* About US
/* ========================================================================== */
.about-us {
  background: #ec5a2b url('../img/noise.png') 50% 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .about-us > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.about-us h1,
.about-us h2,
.about-us h3,
.about-us h4,
.about-us h5,
.about-us h6 {
  color: #ffffff;
}
.about-us p {
  color: #fdece6;
  line-height: 30px;
  font-style: italic;
}
.about-us .image-inner {
  border-radius: 100% 100% 100% 100%;
  padding: 10px;
  background-color: #f9c7b7;
}
.about-us .img-circle {
  border-radius: 100% 100% 100% 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
.about-us .page-header {
  border: none;
  text-align: center;
}

.about-us .slogan {
  border-top: solid 1px #f07e5a;
  border-bottom: solid 1px #f07e5a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
}
/* ========================================================================== */
/* Gallery
/* ========================================================================== */
.gallery-pre {
  width: 100%;
  background: url('../example/image2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  text-align: center;
}
@media (max-width: 767px) {
  .gallery-pre > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.gallery-pre .page-header {
  margin: 170px 0 0 0;
  padding: 0;
  border: none;
  text-align: center;
}
.gallery-pre .page-header h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .gallery-pre .page-header h1 {
    font-size: 50px;
  }
}
.gallery-pre .slogan {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
  color: #ffffff;
}
/* Gallery Filtering
/* ========================================================================== */
#filtrable {
  margin-left: 0;
  margin-bottom: 30px;
}
#filtrable li {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  list-style: none;
}
#filtrable a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #555555;
}
#filtrable a:hover {
  background-color: #555555;
  color: #ffffff;
}
#filtrable .current a {
  background-color: #f07e5a;
  color: #ffffff;
}
/* Gallery Thumbnails
/* ========================================================================== */
.gallery {
  padding: 30px 0;
  background: #f4f0e5 url('../img/noise.png') 50% 0;
}
@media (max-width: 767px) {
  .gallery > .container {
    width: 460px;
  }
}
@media (max-width: 480px) {
  .gallery > .container {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .gallery article.span3 {
    width: 228px;
  }
}
.gallery .thumbnail {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: default;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (min-width: 1200px) {
  .gallery .thumbnail {
    margin-bottom: 30px;
  }
}
.gallery .thumbnail .mask,
.gallery .thumbnail .content,
.gallery .thumbnail .caption {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* Gallery hover animation
/* ========================================================================== */
.hover img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hover .mask,
.hover .caption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: url("../img/o20.png");
  background-repeat: repeat;
}
.hover:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.hover:hover .mask,
.hover:hover .caption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
}
.hover:hover h2,
.hover:hover p,
.hover:hover a.info {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.hover:hover p {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.hover:hover a.info {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Icons/Preview
/* ========================================================================== */
.ico_block {
  display: block;
  position: absolute;
  bottom: 40px;
  left: auto;
  right: auto;
  width: 100%;
}
.ico_link,
.ico_zoom {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity = 60);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.ico_link:hover,
.ico_zoom:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity = 100);
  opacity: 1;
}
.ico_link span,
.ico_zoom span {
  width: 34px;
  height: 34px;
  left: -7px;
  top: -7px;
  display: block;
  position: absolute;
}
.ico_zoom {
  margin-left: -17px;
}
.ico_zoom span {
  background: url(../img/icon_zoom.png) no-repeat 0 0;
}
.ico_link {
  margin-left: 17px;
}
.ico_link span {
  background: url(../img/icon_link.png) no-repeat 0 0;
}
/* Isotope CSS3 transitions
/* ========================================================================== */
.gallery,
.gallery article {
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.gallery {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.gallery article {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
/* disabling Isotope CSS3 transitions
/* ========================================================================== */
.gallery.no-transition,
.gallery.no-transition article,
.gallery article.no-transition {
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
/* Load more button
/* ========================================================================== */
.load-more-grid {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-image: none;
}
.load-more-grid:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* ========================================================================== */
/* Wedding
/* ========================================================================== */
.wedding {
  background: #d6eaeb url('../img/noise.png') 50% 0;
  padding: 60px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .wedding > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.wedding p {
  line-height: 30px;
}
.wedding-pre {
  width: 100%;
  background: url('../example/image3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  text-align: center;
}
@media (max-width: 767px) {
  .wedding-pre > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.wedding-pre .page-header {
  margin: 170px 0 0 0;
  padding: 0;
  border: none;
  text-align: center;
}
.wedding-pre .page-header h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .wedding-pre .page-header h1 {
    font-size: 50px;
  }
}
.wedding-pre .slogan {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
  color: #ffffff;
}
/* ========================================================================== */
/* Contact/Venue
/* ========================================================================== */
.contact {
  padding: 30px 0;
  background: #333333 url('../img/noise.png') 50% 0;
  color: #f4f0e5;
}
@media (max-width: 767px) {
  .contact > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contact .page-header {
  border: none;
  text-align: center;
}

.contact .slogan {
  border-top: solid 1px #555555;
  border-bottom: solid 1px #555555;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
}
.contact .info h4 {
  text-align: left;
  color: #ffffff;
}
.contact .info p {
  color: #999999;
  margin-bottom: 20px;
  font-size: 13px;
}
.contact .form input,
.contact .form textarea {
  border-color: #555555;
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  color: #eeeeee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact .form input:focus,
.contact .form textarea:focus {
  border-color: #999999;
}
.contact .form .btn {
  font-size: 12px;
  background-image: none;
  background: #555555;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.contact .form .btn:hover {
  background: #000000;
}
/* Google Map
/* ========================================================================== */
.map {
  display: block;
  width: 100%;
  margin: 0px;
  margin-bottom: 30px;
}
/* Remove firefox dotted line
/* ========================================================================== */
a,
a:active,
a:focus,
input,
input:active,
input:focus,
select,
select:active,
select:focus {
  outline: 0 !important;
}
